<div class="container">
  <div ng-controller="ContactsCtrl" class="row">
    <h1>Contacts</h1>
    <br>

    Search: 
    <input 
     type="text" 
     search
     model="Contact" 
     update="contacts"
     fuzzy="true"
     ng-model="search">

    <table class="table table-striped table-bordered">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Join Date</th>
        <th>Last Contacted</th>
      </thead>
      <tbody>
        <tr ng-repeat="contact in contacts | filter:search" class="contact">
          <td>{{contact.first_name}}</td>
          <td>{{contact.last_name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.join_date}}</td>
          <td>{{contact.last_contacted}}</td>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>
